@section StyleSheet {
    <link rel="stylesheet" href="~/Content/Vending/About.css" />
}

@section Scripts {
    <script src="~/Scripts/Vending/About.js" defer></script>
}

@section Title {
    About
}

    <div class="container stuff">
        <div class="row">
            <div class="col">
                <a href="https://www.linkedin.com/in/chris-rupp-9267702/"><img class="chris" src="~/Images/chris.jpg" /></a>
                <div class="name">Chris Rupp</div>
                <div class="quote">"They don't think it be like it is, but it do."</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"><a href="https://www.linkedin.com/in/mdmcclean/"><img src="~/Images/michael.jpg" /></a>
                <div class="name">Michael McClean</div>
                <div class="quote">"JavaScript, no rules!"</div>
            </div>
            <div class="col-sm"><a href="https://www.linkedin.com/in/beccabarnum/"><img src="~/Images/becca.jpg" /></a>
                <div class="name">Becca Barnum</div>
                <div class="quote"></div>
            </div>
            <div class="col-sm"><a href="https://www.linkedin.com/in/mitchelldorsey/"><img src="~/Images/mitch.jpg" /></a>
                <div class="name">Mitch Dorsey</div>
                <div class="quote">"Roses are red, violets are blue. Chris uses breakpoints, you should too!"</div>
            </div>
            <div class="col-sm"><a href="https://www.linkedin.com/in/micahknabb/"><img src="~/Images/micah.jpg" /></a>
                <div class="name">Micah Knabb</div>
                <div class="quote"></div>
            </div>
            <div class="col-sm"><a href="https://www.linkedin.com/in/thomaswoodjr/"><img src="~/Images/tj.jpg" /></a>
                <div class="name">TJ Wood</div>
                <div class="quote"></div>
            </div>
        </div>

    </div>